@use "sass:math";
//======Обнуление=========
@import "nullstyle.scss";
//========================
//======Шрифты=========
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&family=Plus+Jakarta+Sans:wght@300;400;500;700&family=Roboto:wght@400;500&display=swap");
//font-family: 'Kanit', sans-serif;
//font-family: 'Plus Jakarta Sans', sans-serif;
//font-family: 'Roboto', sans-serif;
//========================
//===========COMMON=============
//TO-%
@function prc($pxOne, $pxTwo) {
	$result: math.div($pxOne, $pxTwo) * 100%;
	@return $result;
}
//REM
@function rem($px) {
	$result: math.div($px, 16) + rem;
	@return $result;
}
//EM
@function em($px) {
	$result: math.div($px, 16) + em;
	@return $result;
}
//========================
$maxWidthContainer: 1640;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;
// Брейк-поїнти
$pc: em($containerWidth); // ПК, ноутбуки, деякі планшети у горизонтальному положенні
// $tablet: em(991.98); // Планшети, деякі телефони в горизонтальному положенні
$tablet: em(1023); // Планшети, деякі телефони в горизонтальному положенні
$mobile: em(767.98); // Телефони L
$mobileSmall: em(479.98);
//======================
//======================
body {
	font-family: "Plus Jakarta Sans", sans-serif;
	background-color: #18072d;
	color: #fff;
	font-size: rem(20);
	-webkit-tap-highlight-color: transparent !important;
	outline: none !important;
	@media (max-width: $tablet) {
		&.lock {
			overflow: hidden;
		}
	}
}
//=======CONTAINER========
.container {
	max-width: rem(1670);
	padding: 0px 15px;
	margin: 0px auto;
}
//========================
//=========IBG============
.ibg {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	img {
		width: 0;
		height: 0;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		visibility: hidden;
	}
}
//========================
.wrapper {
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	position: relative;
}
//========================
//==========COMMON========
.title {
	text-transform: uppercase;
	&__title {
		margin-bottom: calc(16 / 20) + em;
		line-height: 140%;
		@media (max-width: $tablet) and (orientation: landscape) {
			font-size: rem(16);
		}
		@media (max-width: $tablet) {
			font-size: rem(18);
		}
		@media (max-width: $mobileSmall) and (orientation: landscape) {
			font-size: rem(14);
		}
		@media (max-width: $mobileSmall) {
			font-size: rem(16);
		}
	}
	&__subtitle {
		font-family: Kanit;
		font-size: rem(48);
		font-weight: 700;
		letter-spacing: calc(0.48 / 48) + em;
		line-height: 140%;
		@media (max-width: $tablet) and (orientation: landscape) {
			font-size: rem(30);
		}
		@media (max-width: $tablet) {
			font-size: rem(36);
		}
		@media (max-width: $mobileSmall) and (orientation: landscape) {
			font-size: rem(26);
		}
		@media (max-width: $mobileSmall) {
			font-size: rem(26);
			letter-spacing: calc(0.26 / 48) + em;
		}
		&_right {
			padding-left: rem(34);
		}
	}
	&__text {
	}
}
.background {
	position: relative;
	background: url("../img/0.icons/Vector.png") 0 0 repeat-y;
	&::after {
		content: "";
		position: absolute;
		width: 6px;
		height: 100%;
		top: 0;
		left: 0;
		border-radius: 41px;
		background: #7f5cff;
		box-shadow: 2px 2px 17px 2px rgba(191, 58, 255, 0.4);
	}
}
.btn {
	&__link {
		color: #fff;
		width: 209px;
		height: 60px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 6px;
		background-color: #7a42f4;
		overflow: hidden;
		position: relative;
		transition: all 0.5s ease 0s;
		&::after {
			background: #fff;
			content: "";
			height: 155px;
			left: -75px;
			opacity: 0.2;
			position: absolute;
			top: -50px;
			transform: rotate(35deg);
			transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
			width: 50px;
			z-index: 100;
		}
		&:hover {
			background-color: #4642f4;
			&::after {
				left: 120%;
				transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
			}
		}
		@media (max-width: $tablet) and (orientation: landscape) {
			font-size: rem(16);
			width: 180px;
			height: 50px;
		}
		@media (max-width: $mobile) {
			font-size: rem(16);
			width: 188px;
			height: 54px;
		}
		@media (max-width: $mobile) and (orientation: landscape) {
			font-size: rem(14);
			width: 150px;
			height: 45px;
		}
	}
}
.text-common {
	line-height: 160%;
	opacity: 0.8;
	@media (max-width: $mobileSmall) {
		font-size: rem(16);
		line-height: 150%;
	}
	@media (max-width: em(320)) {
		font-size: rem(14);
		line-height: 140%;
	}
}
//========================

.header {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
	// &::before{
	// 	content: '';
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// 	width: 100%;
	// 	height: 100%;
	// 	z-index: 2;
	// 	// background: #0000008f;
	// }
	&__row {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 110px;
		@media (max-width: $tablet) and (orientation: landscape) {
			height: 80px;
		}
		@media (max-width: $mobile) and (orientation: landscape) {
			height: 80px;
		}
	}
	&__logo {
		position: relative;
		z-index: 3;
		padding-right: rem(20);
		img {
			max-width: 100%;
		}
		@media (max-width: $tablet) {
			padding-left: rem(7);
		}
	}
	.menu {
		&__icon {
			display: none;
			@media (max-width: $tablet) {
				cursor: pointer;
				display: block;
				width: 30px;
				height: 20px;
				position: relative;
				z-index: 3;
				span {
					position: absolute;
					right: 0;
					background-color: #fff;
					width: 65%;
					height: 2px;
					top: 9px;
					transition: all 0.3s ease 0s;
					border-radius: 1px;
				}
				&::after,
				&::before {
					content: "";
					position: absolute;
					right: 0;
					background-color: #fff;
					height: 2px;
					transition: all 0.3s ease 0s;
					border-radius: 1px;
				}
				&::after {
					bottom: 0px;
					width: 85%;
				}
				&::before {
					top: 0px;
					width: 100%;
				}
				&.active {
					&::before {
						top: calc(50% - rem(1));
						transform: rotate(-45deg);
					}
					&::after {
						bottom: calc(50% - rem(1));
						transform: rotate(45deg);
						width: 100%;
					}
					span {
						width: 0;
						right: 0;
					}
				}
			}
		}
		&__body {
			@media (max-width: $tablet) {
				position: fixed;
				top: 0;
				left: -100%;
				width: 100%;
				height: 100%;
				// background-color: #47474700;
				padding-top: rem(110);
				transition: all 0.3s ease 0s;
				overflow: auto; //позволяет прокручиваться менюшке
				&.active {
					left: 0;
					.menu__item {
						//поочерёдное выезжание меню
						animation: item-slide 0.5s forwards;
						opacity: 0;
						transform: translate(-100%, 0px);
						@keyframes item-slide {
							0% {
							}
							100% {
								opacity: 1;
								transform: translate(0px, 0px);
							}
						}
						@for $i from 1 to 8 {
							$delay: ($i - 1) * 0.15;
							&:nth-child(#{$i}) {
								animation-delay: #{$delay}s;
							}
						}
					}
				}
			}
		}

		&__list {
			display: flex;
			text-align: center;
			position: relative;
			z-index: 3;
			flex-wrap: wrap;
			@media (max-width: $tablet) {
				display: block;
				text-align: left;
				padding: rem(15) rem(0) rem(15) rem(60);
			}
		}
		&__item {
			&:not(:last-child) {
				margin-right: rem(44);
				@media (max-width: $pc) {
					margin-right: rem(32);
				}
				@media (max-width: $tablet) {
					margin-right: rem(0);
					margin-bottom: rem(16);
				}
			}
		}
		&__link {
			color: #fff;
			font-weight: 500;
			line-height: 140%;
			opacity: 0.7;
			transition: all 0.3s ease 0s;
			display: inline-block;
			padding: 8px;
			position: relative;
			span {
				position: relative;
				&::after {
					position: absolute;
					content: "";
					height: 2px;
					background: linear-gradient(90deg, #00dbde 0%);
					box-shadow: 2px 2px 7px 0px rgba(41, 183, 227, 0.33);
					bottom: -8px;
					right: 0;
					width: 0;
					transition: all 0.3s;
				}
			}
			@media (hover: hover) {
				&:hover {
					opacity: 1;
					span::after {
						width: 100%;
						left: 0;
					}
				}
			}
			@media (max-width: $tablet) {
				opacity: 1;
				&:active {
					span::after {
						width: 100%;
						left: 0;
					}
				}
			}
		}
	}
}
.page {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
}
.footer {
	background: #1bbdaa;
}
.hero {
	position: relative;
	min-height: 100vh;
	padding: rem(110) rem(0);
	display: flex;
	align-items: center;
	@media (max-width: $tablet) and (orientation: landscape) {
		padding: rem(80) rem(0);
	}
	@media (max-width: $mobile) and (orientation: landscape) {
		padding: rem(80) rem(0);
	}
	&__container {
		flex: 1 1 auto;
	}
	&__body {
		position: relative;
		z-index: 1;
		max-width: rem(760);
		// padding: rem(110) rem(0);
		opacity: 1;
		transition: all 0.3s ease 0s;
		&.active {
			opacity: 0;
		}
	}
	&__background {
		padding: rem(14) rem(0) rem(24) rem(60);
		@media (max-width: $mobile) {
			padding: rem(14) rem(0) rem(24) rem(25);
		}
		@media (max-width: $mobile) and (orientation: landscape) {
			padding: rem(14) rem(0) rem(24) rem(50);
		}
	}
	&__title {
		margin-bottom: rem(120);
		@media (max-width: $tablet) {
			margin-bottom: rem(70);
		}
		@media (max-width: $tablet) and (orientation: landscape) {
			margin-bottom: rem(50);
		}
		@media (max-width: $mobile) {
			margin-bottom: rem(54);
		}
		@media (max-width: $mobile) and (orientation: landscape) {
			margin-bottom: rem(30);
		}
	}
	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		&_b {
			@media (min-width: em(391)) {
				display: block;
			}
			@media (max-width: em(390)) {
				display: none;
			}
		}
		&_l {
			@media (min-width: em(391)) {
				display: none;
			}
			@media (max-width: em(390)) {
				display: block;
			}
		}
	}
}
.about {
	// padding: rem(200) rem(0);
	position: relative;
	display: flex;
	align-items: center;
	min-height: 100vh;
	@media (max-width: em(390)) {
		flex-direction: column;
	}
	&__container {
		position: relative;
		z-index: 2;
		flex: 1 1 auto;
		@media (max-width: em(390)) {
			order: 2;
			&::before {
				content: "";
				position: absolute;
				width: 390px;
				height: 476px;
				bottom: 0;
				left: 0;
				background: url("../img/2.about//Ellipse242.png") 0 0 no-repeat;
			}
		}
	}

	&__body {
		padding: rem(100) rem(0);
		@media (max-width: $tablet) and (orientation: landscape) {
			padding: rem(60) rem(0);
		}
		@media (max-width: $mobile) and (orientation: landscape) {
			padding: rem(60) rem(0);
		}
		@media (max-width: $mobile) {
			padding: rem(60) rem(0);
		}
	}

	&__background {
		max-width: rem(620);
		padding: rem(70) rem(0) rem(70) rem(60);
		@media (max-width: $tablet) {
			padding: rem(50) rem(0) rem(50) rem(50);
		}
		@media (max-width: $mobile) {
			padding: rem(20) rem(0) rem(20) rem(25);
		}
		@media (max-width: $mobile) and (orientation: landscape) {
			padding: rem(15) rem(0) rem(15) rem(50);
		}
	}

	&__title {
		margin-bottom: rem(25);
		@media (max-width: $mobile) {
			margin-bottom: rem(20);
		}
	}

	&__text {
	}

	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		&_b {
			@media (max-width: $mobileSmall) {
				background-position: 60% 50%;
			}
			@media (min-width: em(391)) {
				display: block;
			}
			@media (max-width: em(390)) {
				display: none;
			}
		}
		&_l {
			@media (min-width: em(391)) {
				display: none;
			}
			@media (max-width: em(390)) {
				display: block;
				position: relative;
				min-height: 380px;
				order: 1;
			}
		}
	}
}
.roadmap {
	background: #090812;
	padding: rem(140) rem(0);
	position: relative;
	@media (max-width: $mobile) {
		padding: rem(90) rem(0);
	}
	@media (max-width: $tablet) and (orientation: landscape) {
		padding: rem(70) rem(0);
	}
	&::before {
		content: "";
		position: absolute;
		width: 1055px;
		height: 1776px;
		top: 0;
		left: 0;
		background: url("../img/3.roadmap//left.png") 0 0 no-repeat;
	}
	&::after {
		content: "";
		position: absolute;
		width: 1376px;
		height: 1776px;
		top: 28%;
		right: 0;
		background: url("../img/3.roadmap//right.png") 0 0 no-repeat;
	}
	&__container {
		position: relative;
		&::before {
			content: "";
			position: absolute;
			width: 540px;
			height: 1450px;
			top: 180px;
			left: 48%;
			background: url("../img/3.roadmap//middle.png") 0 0 no-repeat;
			transform: translate(-50%, 0px);
			z-index: 1;
		}
	}

	&__body {
		padding: 0 9.2% 0 11%;
		@media (max-width: $pc) {
			padding: 0 2% 0 6%;
		}
		@media (max-width: $mobile) {
			padding: 0 0 0 0;
		}
	}

	&__title {
		text-align: center;
		margin-bottom: rem(90);
		@media (max-width: $mobile) {
			margin-bottom: rem(120);
		}
	}

	&__table {
		display: flex;
		flex-direction: column;
		align-items: end;
		position: relative;
	}

	&__item {
		max-width: rem(480);
		&:nth-child(1) {
			margin-bottom: rem(140);
			&::before {
				content: "";
				position: absolute;
				width: 645px;
				height: 649px;
				top: -16.5%;
				left: 16%;
				background: url("../img/3.roadmap//first.png") 0 0/ 100% 100% no-repeat;
				z-index: 2;
			}
			@media (max-width: $mobile) {
				margin-bottom: rem(100);
				&::before {
					content: "";
					top: -18.5%;
					left: 28%;
					background: url("../img/3.roadmap//first.png") 0 0/ 60% 60% no-repeat;
				}
			}
			@media (max-width: $mobileSmall) {
				&::before {
					content: "";
					top: -14.5%;
					left: 35%;
					background: url("../img/3.roadmap//first.png") 0 0/ 50% 50% no-repeat;
				}
			}
		}
		&:nth-child(2) {
			margin-bottom: rem(80);
			&::before {
				content: "";
				position: absolute;
				width: 667px;
				height: 670px;
				top: 15%;
				left: 29%;
				background: url("../img/3.roadmap//second.png") 0 0/ 100% 100% no-repeat;
				z-index: 2;
			}
			@media (max-width: em(1650)) {
				&::before {
					top: 7%;
					left: 33%;
				}
			}
			@media (max-width: $mobile) {
				margin-bottom: rem(100);
				&::before {
					top: 15.8%;
					left: 6%;
					background: url("../img/3.roadmap//second.png") 0 0/ 60% 60% no-repeat;
				}
			}
			@media (max-width: $mobileSmall) {
				&::before {
					top: 21%;
					left: 10%;
					background: url("../img/3.roadmap//second.png") 0 0/ 50% 50% no-repeat;
				}
			}
		}
		&:nth-child(3) {
			margin-bottom: rem(230);
			&::before {
				content: "";
				position: absolute;
				width: 691px;
				height: 680px;
				top: 41.5%;
				left: 13.5%;
				background: url("../img/3.roadmap//third.png") 0 0/ 100% 100% no-repeat;
				z-index: 2;
			}
			@media (max-width: $mobile) {
				margin-bottom: rem(100);
				&::before {
					top: 47%;
					left: 30%;
					background: url("../img/3.roadmap//third.png") 0 0/ 60% 60% no-repeat;
				}
			}
			@media (max-width: $mobileSmall) {
				&::before {
					top: 50.5%;
					left: 33.5%;
					background: url("../img/3.roadmap//third.png") 0 0/ 50% 50% no-repeat;
				}
			}
		}
		&:nth-child(4) {
			&::before {
				content: "";
				position: absolute;
				width: 713px;
				height: 728px;
				top: 67%;
				left: 23%;
				background: url("../img/3.roadmap//forth.png") 0 0/ 100% 100% no-repeat;
				z-index: 2;
			}
			@media (max-width: em(1650)) {
				&::before {
					top: 58.5%;
					left: 28%;
				}
			}
			@media (max-width: $mobile) {
				&::before {
					top: 65%;
					left: 2%;
					background: url("../img/3.roadmap//forth.png") 0 0/ 60% 60% no-repeat;
				}
			}
			@media (max-width: $mobileSmall) {
				&::before {
					top: 71%;
					left: 2%;
					background: url("../img/3.roadmap//forth.png") 0 0/ 50% 50% no-repeat;
				}
			}
		}
		&_left {
			align-self: start;
		}
	}

	&__item-title {
		font-size: rem(22);
		font-weight: 700;
		line-height: 140%;
		margin-bottom: rem(18);
		max-width: rem(360);
		@media (max-width: $mobile) {
			font-size: rem(20);
		}
	}

	&__list-item {
		font-size: rem(18);
		line-height: 140%;
		letter-spacing: calc(0.18 / 18) + em;
		position: relative;
		padding-left: rem(36);

		span {
			opacity: 0.8;
		}
		&:not(:last-child) {
			margin-bottom: rem(15);
		}
		&::before {
			content: "";
			position: absolute;
			width: 24px;
			height: 24px;
			top: 2px;
			left: 0;
			background: url("../img/0.icons//done.svg") 0 0 no-repeat;
		}
		@media (max-width: $mobile) {
			font-size: rem(15);
			letter-spacing: calc(0.15 / 15) + em;
			padding-left: rem(30);
			&::before {
				background: url("../img/0.icons//done.svg") 0 0/ 85% 85% no-repeat;
			}
		}
	}
}
.brands {
	padding: rem(110) rem(0);
	position: relative;
	z-index: 3;
	&::before {
		content: "";
		position: absolute;
		width: 1701px;
		height: 1123px;
		top: 0;
		left: 50%;
		background: url("../img/4.brands//Aurora.png") 0 0 no-repeat;
		transform: translate(-50%, 0px);
	}
	&::after {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: rgba(255, 255, 255, 0.02);
	}
	background: url("../img/4.brands//Vector.png") 0 0 repeat;
	@media (max-width: $pc) {
		padding: rem(80) rem(0);
	}
	@media (max-width: $mobile) {
		padding: rem(60) rem(0);
	}
	@media (max-width: $tablet) and (orientation: landscape) {
		padding: rem(60) rem(0);
	}
	&__container {
		position: relative;
		z-index: 5;
	}

	&__body {
		max-width: rem(1360);
		margin: 0px auto;
	}

	&__title {
		text-align: center;
		margin-bottom: rem(90);
		@media (max-width: $pc) {
			margin-bottom: rem(70);
		}
		@media (max-width: $mobile) {
			margin-bottom: rem(60);
		}
	}

	&__row {
		display: flex;
		margin: rem(0) rem(-47);
		@media (max-width: $pc) {
			margin: rem(0) rem(-23.5);
		}
		@media (max-width: em(1150)) {
			flex-wrap: wrap;
		}
	}

	&__column {
		flex: 0 0 33.333%;
		padding: rem(0) rem(47);
		display: flex;
		@media (max-width: $pc) {
			padding: rem(0) rem(23.5);
		}
		@media (max-width: em(1150)) {
			flex: 0 0 100%;
			justify-content: center;
			&:not(:last-child) {
				margin-bottom: rem(60);
			}
		}
		@media (max-width: em(360)) {
			&:not(:last-child) {
				margin-bottom: rem(20);
			}
		}
	}

	&__item {
	}
	.item-row {
		text-align: center;
		max-width: rem(385);
		&__img {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-bottom: rem(67);
			min-height: 406px;
			img {
				max-width: 100%;
			}
			&_star {
				position: relative;
					&::after {
						content: "";
						position: absolute;
						width: 46px;
						height: 46px;
						top: -2%;
						left: 50%;
						background: url('../img/0.icons//Star.svg') 0 0 no-repeat;
						transform: translate(-50%,0px);
					}
					@media (max-width: em(350)){
						&::after {
						top: 4%;
							background: url('../img/0.icons//Star.svg') 0 0/80% no-repeat;
						}
					}
			}
			@media (max-width: em(1150)) {
				margin-bottom: rem(25);
			}
		}

		&__title {
			font-family: Kanit;
			font-size: rem(16);
			font-weight: 700;
			line-height: 140%;
			text-transform: uppercase;
			padding: rem(50) rem(0) rem(10) rem(0);
			position: relative;
			&::after {
				content: "";
				position: absolute;
				width: 100%;
				height: 6px;
				top: 0;
				left: 0;
				border-radius: 48px;
				background: #7b71ee;
				box-shadow: 0px 0px 4px 0px rgba(56, 219, 255, 0.5);
			}
			&::before {
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				background: url("../img/4.brands//22.png") 0 0 repeat;
			}
			&_left {
				&::after {
					background: #06d6df;
				}
			}
			&_right {
				&::after {
					background: #f00afe;
				}
			}
			@media (max-width: $pc) {
				font-size: rem(18);
			}
			@media (max-width: em(1150)) {
				padding: rem(30) rem(0) rem(10) rem(0);
			}
			@media (max-width: $tablet) {
				font-size: rem(20);
			}
			@media (max-width: $mobile) {
				font-size: rem(18);
			}
			@media (max-width: $mobileSmall) {
				font-size: rem(16);
			}
		}
		&__text {
			font-size: rem(18);
			font-weight: 300;
			line-height: 160%;
			letter-spacing: calc(0.18 / 18) + em;
			opacity: 0.6;
			@media (max-width: $pc) {
				font-size: rem(20);
			}
			@media (max-width: $tablet) {
				font-size: rem(22);
			}
			@media (max-width: $mobile) {
				font-size: rem(20);
			}
			@media (max-width: $mobileSmall) {
				font-size: rem(18);
			}
		}
	}
}
