@use "sass:math";
//======Обнуление=========
@import "nullstyle.scss";
//========================
//======Шрифты=========
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap");
//font-family: 'Montserrat', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
//font-family: 'Russo One', sans-serif;
@font-face {
	font-family: "HeadingNow";
	src: url("../fonts/HeadingNowTrial-16Bold.eot");
	src:
		url("../fonts/HeadingNowTrial-16Bold.eot") format("embedded-opentype"),
		url("../fonts/HeadingNowTrial-16Bold.woff2") format("woff2"),
		url("../fonts/HeadingNowTrial-16Bold.woff") format("woff"),
		url("../fonts/HeadingNowTrial-16Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "HeadingNow";
	src: url("../fonts/HeadingNowTrial-15Medium.eot");
	src:
		url("../fonts/HeadingNowTrial-15Medium.eot") format("embedded-opentype"),
		url("../fonts/HeadingNowTrial-15Medium.woff2") format("woff2"),
		url("../fonts/HeadingNowTrial-15Medium.woff") format("woff"),
		url("../fonts/HeadingNowTrial-15Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

//========================
//===========COMMON=============
//TO-%
@function prc($pxOne, $pxTwo) {
	$result: math.div($pxOne, $pxTwo) * 100%;
	@return $result;
}
//REM
@function rem($px) {
	$result: math.div($px, 16) + rem;
	@return $result;
}
//EM
@function em($px) {
	$result: math.div($px, 16) + em;
	@return $result;
}
//========================
$maxWidthContainer: 1050;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 40;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;
// Брейк-поїнти
$pc: em($containerWidth); // ПК, ноутбуки, деякі планшети у горизонтальному положенні
// $tablet: em(991.98); // Планшети, деякі телефони в горизонтальному положенні
$tablet: em(991.98); // Планшети, деякі телефони в горизонтальному положенні
$mobile: em(767.98); // Телефони L
$mobileSmall: em(479.98);
//======================
//======================
body {
	font-family: "Montserrat", sans-serif;
	background-color: #10141e;
	color: #fff;
	font-style: normal;
	font-weight: 400;
	-webkit-tap-highlight-color: transparent !important;
	outline: none !important;
	@media (max-width: $tablet) {
		&.lock {
			overflow: hidden;
		}
	}
}
//=======CONTAINER========
.container {
	max-width: rem(1090);
	padding: 0px 20px;
	margin: 0px auto;
}
//========================
//=========IBG============
.ibg {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	img {
		width: 0;
		height: 0;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		visibility: hidden;
	}
}
//========================
.wrapper {
	width: 100%;
	min-height: 100vh;
	overflow: clip;
	display: flex;
	flex-direction: column;
	position: relative;
	&::after {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0;
		background: #0000007d;
		transition: opacity 0.5s ease 0s;
		transform: scale(0);
	}
	&.active {
		&::after {
			transform: scale(1);
			opacity: 1;
		}
	}
}
//========================
//==========COMMON========

.btn {
	@media (max-width: em(392)) {
		text-align: center;
	}
	&__link {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		min-height: 64px;
		min-width: 390px;
		border-radius: 60px;
		background: var(--Grad-1, linear-gradient(51deg, #0958fa 13.86%, #09fa32 93.66%));
		color: #fff;
		font-size: rem(18);
		font-weight: 700;
		transition: all 0.3s ease 0s;
		&:hover {
			box-shadow: 0px 1px 20px 0px rgba(255, 255, 255, 0.5);
		}
		&:active {
			box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.6) inset;
		}
		@media (max-width: $mobileSmall) {
			min-width: 250px;
		}
	}
}
.btn-2 {
	display: flex;
	&__link {
		color: #fff;
		font-weight: 700;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		border-radius: 30px;
		border: 1px solid transparent;
		transition: all 0.3s ease 0s;
		span {
			padding: rem(3) rem(0);
		}
		&:hover {
			box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.4);
		}
		&:active {
			span {
				background: var(--Button-Linear-Gradient, linear-gradient(6deg, #0958fa 4.03%, #0ef0a8 95.97%));
				background-clip: text;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}
	}
}
//========title-text======
.block-title {
	font-family: "Russo One", sans-serif;
	font-size: rem(32);
	font-weight: 500;
	line-height: 120%;
}
.inner-title {
	font-size: rem(24);
	font-weight: 700;
	line-height: normal;
}
.subtitle {
	font-size: rem(18);
	font-weight: 700;
	line-height: 120%;
}
.standart-text {
	line-height: 140%;
}
.description-text {
	font-size: rem(14);
	line-height: 140%;
}
.price {
	font-size: rem(14);
	font-weight: 700;
	line-height: 120%;
}
.price-crossed {
	color: rgba(255, 255, 255, 0.5);
	font-size: rem(12);
	font-weight: 700;
	line-height: 120%;
	text-decoration-line: strikethrough;
}
.comment-text {
	color: #000;
	font-size: rem(14);
	font-weight: 500;
	line-height: 120%;
}
//========================

//===BACK-TO-TOP==========
.back-to-top {
	position: fixed;
	z-index: 100;
	right: 2rem;
	bottom: 2rem;
	width: 64px;
	height: 64px;
	border-radius: 100%;
	background: linear-gradient(51deg, #0958fa 13.85%, #09fa32 93.66%);
	border: none;
	cursor: pointer;
	opacity: 80%;
	transition: all 0.3s ease 0s;
	box-shadow: 0px 2px 17px 2px rgba(58, 255, 222, 0.63);
	&__icon {
		max-width: 32px;
		max-height: 32px;
		path {
			fill: #cbcbcb;
		}
	}
	&_hidden {
		opacity: 0%;
	}
	@media (any-hover: hover) {
		&_hidden:hover {
			opacity: 0%;
		}
	}
	@media (max-width: $mobileSmall) {
		width: 50px;
		height: 50px;
		right: 1rem;
		bottom: 1rem;
	}
	@media (any-hover: hover) {
		&:hover {
			opacity: 100%;
			background: linear-gradient(51deg, #3679ff 13.86%, #26ff4a 93.66%);
			.back-to-top__icon {
				path {
					fill: #e2e2e2;
				}
			}
		}
	}
	&:active {
		opacity: 100%;
		box-shadow:
			0px 2px 17px 2px rgba(58, 255, 222, 0.63),
			0px 2px 17px 2px rgba(58, 255, 222, 0.63) inset;
		.back-to-top__icon {
			path {
				fill: #ffffff;
			}
		}
	}
}
//========================

//========================

.header {
	position: sticky;
	width: 100%;
	top: 24px;
	z-index: 1000;
	&__container {
		@media (max-width: $mobileSmall) {
			margin: rem(0) rem(-10) rem(0) rem(-10);
		}
	}
	&__row {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 64px;
		border-radius: 30px;
		background: rgba(0, 0, 0, 0.5);
		backdrop-filter: blur(10px);
		padding: rem(0) rem(20);
		@media (max-width: em(330)) {
			padding: rem(0) rem(18);
		}
	}
	&__logo {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		z-index: 3;
		margin-right: rem(20);
		max-width: rem(68);
		min-height: rem(22);
		img {
			max-width: 100%;
		}
		@media (max-width: $mobileSmall) {
			max-width: rem(48);
			margin-right: rem(10);
		}
		@media (max-width: em(360)) {
			max-width: rem(38);
		}
	}
	&__content {
		display: flex;
	}
	&__menu {
		margin-right: rem(32);
		order: 1;
		@media (max-width: $tablet) {
			order: 3;
			margin-right: rem(0);
		}
	}
	.menu {
		display: flex;
		align-items: center;
		// иконка бургера
		&__icon {
			display: none;
			@media (max-width: $tablet) {
				background-color: transparent;
				cursor: pointer;
				display: block;
				width: 30px;
				height: 20px;
				position: relative;
				z-index: 3;
				span {
					position: absolute;
					right: 0;
					background-color: #fff;
					width: 65%;
					height: 2px;
					top: 9px;
					transition: all 0.3s ease 0s;
					border-radius: 1px;
				}
				&::after,
				&::before {
					content: "";
					position: absolute;
					right: 0;
					background-color: #fff;
					height: 2px;
					transition: all 0.3s ease 0s;
					border-radius: 1px;
				}
				&::after {
					bottom: 0px;
					width: 85%;
				}
				&::before {
					top: 0px;
					width: 100%;
				}
				&.active {
					&::before {
						top: calc(50% - rem(1));
						transform: rotate(-45deg);
					}
					&::after {
						bottom: calc(50% - rem(1));
						transform: rotate(45deg);
						width: 100%;
					}
					span {
						width: 0;
						right: 0;
					}
				}
			}
		}
		// оболочка что ездит
		&__body {
			@media (max-width: $tablet) {
				position: fixed;
				top: 10px;
				right: 20px;
				width: 100%;
				opacity: 0;
				height: calc(100vh - 108px);
				overflow: auto; //позволяет прокручиваться менюшке
				border-radius: 24px;
				background: linear-gradient(51deg, #0843b9 13.86%, #08cc28 93.66%);
				// transition:
				// 	top 0.5s ease 0s,
				// 	width 0.5s ease 0s,
				// 	opacity 0.5s ease 0s,
				// 	height 0.5s ease 0s;
				transition: all 0.3s ease 0s;
				transform-origin: top right;
				transform: scale(0);
				&.active {
					top: 74px;
					right: 0;
					opacity: 1;
					z-index: 5;
					transform: scale(1);
					.menu__item {
						//поочерёдное выезжание меню
						animation: item-slide 0.3s forwards;
						transform: translate(100%, 0px);
						@keyframes item-slide {
							0% {
							}
							100% {
								transform: translate(0px, 0px);
							}
						}
						@for $i from 1 to 7 {
							$delay: ($i - 1) * 0.15;
							&:nth-child(#{$i}) {
								animation-delay: #{$delay}s;
							}
						}
					}
				}
			}
		}
		// весь список
		&__list {
			display: flex;
			position: relative;
			z-index: 3;
			text-align: center;
			flex-wrap: wrap;
			@media (max-width: $tablet) {
				display: block;
				text-align: center;
				padding: rem(30) rem(0) rem(45) rem(0);
				overflow-x: hidden;
			}
		}
		// каждый элемент списка
		&__item {
			&:not(:last-child) {
				margin-right: rem(32);
				@media (max-width: $tablet) {
					margin-right: rem(0);
					margin-bottom: rem(30);
					.menu__link {
						position: relative;
						&::after {
							content: "";
							position: absolute;
							width: 100%;
							height: 1px;
							bottom: -15px;
							left: 0;
							background: #ffffff;
						}
					}
				}
			}
		}
		// стили каждого элемента
		&__link {
			font-size: rem(14);
			color: #fff;
			transition: all 0.3s ease 0s;
			display: inline-block;
			padding: 4px;
			position: relative;
			@media (min-width: $tablet) {
				span {
					position: relative;
					&::after {
						position: absolute;
						content: "";
						height: 2px;
						background: linear-gradient(90deg, #00dbde 0%);
						box-shadow: 2px 2px 7px 0px rgba(41, 183, 227, 0.33);
						bottom: -8px;
						right: 0;
						width: 0;
						transition: all 0.3s;
					}
					&:active {
						background: var(--Button-Linear-Gradient, linear-gradient(6deg, #0958fa 4.03%, #0ef0a8 95.97%));
						background-clip: text;
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
					}
				}
				@media (hover: hover) {
					&:hover {
						span::after {
							width: 100%;
							left: 0;
						}
					}
				}
			}
			@media (max-width: $tablet) {
				&:active {
					span {
						color: #000;
					}
				}
				font-size: rem(16);
			}
		}
	}

	&__questions {
		margin-right: rem(24);
		order: 2;
		@media (max-width: $tablet) {
			order: 1;
		}
		@media (max-width: $mobileSmall) {
			margin-right: rem(20);
		}
		@media (max-width: em(360)) {
			margin-right: rem(14);
		}
	}
	.questions {
		width: 32px;
		height: 32px;
		position: relative;
		background: none;
		&::after {
			content: "";
			position: absolute;
			width: 8px;
			height: 8px;
			top: 0;
			right: 0;
			background-color: #eb5757;
			border-radius: 50%;
		}
		&__icon {
			width: 32px;
			height: 32px;
			border-radius: 50%;
			background: rgba(255, 255, 255, 0.1);
			display: flex;
			align-items: center;
			justify-content: center;
			@media (hover: hover) {
				&:hover {
					box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.4);
				}
			}
			&:active {
				background: rgba(255, 255, 255, 0.3);
			}
			img {
				max-width: 100%;
			}
		}
	}

	.web {
		position: fixed;
		top: 20px;
		max-width: rem(210);
		display: flex;
		z-index: 6;
		flex-direction: column;
		opacity: 0;
		border-radius: 10px;
		background: #ffffff;
		transition: all 0.3s ease 0s;
		transform-origin: top left;
		transform: scale(0);
		&.active {
			opacity: 1;
			top: 80px;
			transform: scale(1);
		}
		&::after {
			content: "";
			position: absolute;
			width: 197px;
			height: 2px;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background: url("../img/0.icons/btlin.svg") 0 0 no-repeat;
		}
		&__item {
			display: flex;
			padding: rem(8) rem(35) rem(8) rem(8);
			position: relative;
			&:not(:last-child) {
				margin-bottom: rem(2);
			}
			&::after {
				content: "";
				position: absolute;
				width: 20px;
				height: 20px;
				top: 50%;
				right: 5px;
				transform: translate(0px, -50%);
				background: url("../img/0.icons/arrowright.svg") 0 0 no-repeat;
			}
			&:hover {
				box-shadow: 2px 2px 30px 0px rgba(28, 209, 148, 0.282) inset;
				border-radius: 10px;
			}
			&:active {
				box-shadow: 2px 2px 30px 0px rgba(21, 150, 107, 0.482) inset;
				border-radius: 10px;
			}
		}

		&__img {
			margin-right: rem(10);
			width: 28px;
			height: 28px;
			display: flex;
			justify-content: center;
			align-items: center;
			align-self: center;

			img {
				max-width: 100%;
			}
		}

		&__text {
		}

		&__label {
			color: #000;
			font-size: rem(14);
			font-weight: 700;
			line-height: 120%;
			margin-bottom: rem(3);
			white-space: nowrap;
		}

		&__tel {
			color: rgba(0, 0, 0, 0.6);
			font-size: rem(14);
			font-weight: 400;
			line-height: 120%;
			white-space: nowrap;
		}
	}

	&__btn {
		order: 3;
		.btn-2__link {
			font-size: rem(14);
			background:
				linear-gradient(#24330d, #24330d) padding-box,
				linear-gradient(51deg, #0958fa 13.86%, #09fa32 93.66%) border-box;
			padding: rem(0) rem(14);
			@media (max-width: $mobile) {
				background:
					linear-gradient(#25300d, #25300d) padding-box,
					linear-gradient(51deg, #0958fa 13.86%, #09fa32 93.66%) border-box;
			}
			@media (max-width: em(360)) {
				padding: rem(0) rem(10);
			}
			@media (max-width: em(320)) {
				font-size: rem(12);
			}
		}
		@media (max-width: $tablet) {
			order: 2;
			margin-right: rem(24);
		}
		@media (max-width: $mobileSmall) {
			margin-right: rem(20);
		}
		@media (max-width: em(360)) {
			margin-right: rem(14);
		}
	}
}

.page {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
}

.hero {
	min-height: 100vh;
	margin-top: rem(-64);
	display: flex;
	// padding-bottom: rem(20);
	position: relative;
	padding-top: rem(120);
	margin-bottom: rem(55);
	&__arrow {
		#gradient-horizontal {
			--color-stop-1: #0958fa;
			--color-stop-2: #0ef0a8;
		}
		&:hover {
			#gradient-horizontal {
				--color-stop-1: #4c85f7;
				--color-stop-2: #68e9c0;
			}
		}
		&:active {
			#gradient-horizontal {
				--color-stop-1: #1b4fb8;
				--color-stop-2: #1ba77a;
			}
		}
		z-index: 3;
		position: absolute;
		padding: rem(0) rem(10);
		height: 130px;
		bottom: 50px;
		left: 50%;
		display: flex;
		align-items: end;
		transform: translate(-50%, 0px);
		svg {
			animation: jump 2s 1s infinite;
			bottom: 0px;
			position: relative;
			path {
				fill: url(#gradient-horizontal) gray;
			}
			@keyframes jump {
				0% {
					bottom: 0px;
				}
				50% {
					bottom: 50px;
				}
				100% {
					bottom: 0px;
				}
			}
		}
		@media (max-width: $tablet) {
			bottom: 15px;
			svg {
				@keyframes jump {
					0% {
						bottom: 0px;
					}
					50% {
						bottom: 30px;
					}
					100% {
						bottom: 0px;
					}
				}
			}
		}
		@media (max-width: $mobile) {
			display: none;
		}
	}
	@media (max-width: $mobile) {
		min-height: fit-content;
		padding-top: rem(288);
		margin-bottom: rem(60);
	}
	&__container {
		flex: 1 1 auto;
		display: flex;
	}

	&__body {
		align-self: center;
		max-height: 440px;
	}

	&__content {
		max-width: rem(450);
		@media (max-width: $mobile) {
			margin-bottom: rem(35);
		}
	}

	&__title {
		font-family: "Russo One", sans-serif;
		font-size: rem(80);
		line-height: 120%;
		margin-bottom: rem(8);
		padding-left: rem(2);
		@media (max-width: $mobileSmall) {
			font-size: rem(72);
		}
		@media (max-width: em(360)) {
			font-size: rem(60);
		}
	}

	&__subtitle {
		margin-bottom: rem(8);
		background: rgba(0, 0, 0, 0.4);
		padding: rem(2) rem(4);
		@media (max-width: $mobileSmall) {
			font-size: rem(18);
		}
	}

	&__text {
		max-width: rem(350);
		margin-bottom: rem(80);
		@media (max-width: $mobile) {
			margin-bottom: rem(35);
		}
	}

	&__btn {
		@media (max-width: $tablet) {
			.btn__link {
				min-width: 300px;
			}
		}
		@media (max-width: $mobile) {
			.btn__link {
				min-width: 250px;
			}
		}
	}

	&__bg {
		position: absolute;
		width: 102%;
		height: 102%;
		top: 0;
		left: 0;
		background-position: top 0 right 20%;
		z-index: -1;
		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			bottom: -2px;
			left: 0;
			background: linear-gradient(180deg, rgba(16, 20, 30, 0) 64.06%, rgba(16, 20, 30, 0.51) 89.58%, #10141e 100%);
		}
		@media (max-width: $mobile) {
			background-position: top 0 right 15%;
			background-size: cover;
			height: 450px;
		}
	}
}

.how {
	margin-bottom: rem(100);
	padding-top: rem(20);
	@media (max-width: $tablet) {
		margin-bottom: rem(60);
	}
	@media (max-width: $mobile) {
		padding-top: rem(0);
	}
	@media (max-width: $mobileSmall) {
		margin-bottom: rem(40);
	}
	&__container {
	}

	&__body {
	}

	&__title {
		margin-bottom: rem(24);
	}

	&__content {
		border-radius: 40px;
		background: rgba(255, 255, 255, 0.04);
		padding: rem(24);
	}

	&__row {
		display: flex;
		margin: rem(0) rem(-50) rem(25) rem(-50);
		@media (max-width: $pc) {
			margin: rem(0) rem(-25) rem(25) rem(-25);
		}
		@media (max-width: $tablet) {
			margin: rem(0) rem(-10) rem(25) rem(-10);
		}
		@media (max-width: $mobile) {
			flex-direction: column;
			align-items: center;
		}
	}

	&__column {
		flex: 0 1 33.333%;
		display: flex;
		padding: rem(0) rem(50);
		@media (max-width: $pc) {
			padding: rem(0) rem(25);
		}
		@media (max-width: $tablet) {
			padding: rem(0) rem(10);
		}
		@media (max-width: $mobile) {
			&:not(:last-child) {
				margin-bottom: rem(16);
			}
		}
	}

	&__item {
		display: flex;
		align-items: center;
		@media (max-width: $tablet) {
			align-items: start;
		}
		@media (max-width: $mobile) {
			align-items: center;
		}
	}

	&__number {
		font-family: "Russo One", sans-serif;
		font-size: rem(90);
		line-height: normal;
		background: var(--Grad-Numbers, linear-gradient(180deg, #fff 22.22%, rgba(255, 255, 255, 0) 80.16%));
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		margin-right: rem(10);
		flex: 0 0 55px;
	}

	&__description {
		max-width: rem(210);
		flex: 1 1 auto;
	}

	&__warning {
		display: flex;
		border-radius: 20px;
		background: rgba(255, 255, 255, 0.1);
		max-width: rem(510);
		margin: 0px auto;
		padding: rem(16) rem(20);
		span {
			&:not(:last-child) {
				margin-right: rem(15);
				@media (max-width: em(300)) {
					margin-right: rem(10);
				}
			}
		}
		@media (max-width: $mobile) {
			align-items: center;
			text-align: center;
		}
		@media (max-width: em(300)) {
			padding: rem(16) rem(8);
		}
	}

	&__sign {
		color: #fff;
		font-size: rem(37);
		font-style: normal;
		font-weight: 700;
		line-height: 120%;
	}

	&__text {
	}
	&__link {
		color: #fff;
		text-decoration: underline;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: none;
			}
		}
		&:active {
			color: #bbbbbb;
		}
	}
}

.about {
	margin-bottom: rem(100);
	@media (max-width: $tablet) {
		margin-bottom: rem(60);
	}
	@media (max-width: $mobileSmall) {
		margin-bottom: rem(40);
	}
	&__container {
	}

	&__body {
		padding: rem(32) rem(40);
		border-radius: 40px;
		background: linear-gradient(51deg, rgba(9, 88, 250, 0.05) 13.86%, rgba(9, 250, 50, 0.05) 93.66%);
		@media (max-width: $mobile) {
			border-radius: 30px;
			padding: rem(24);
		}
	}

	&__title {
		margin-bottom: rem(25);
	}

	&__row {
		display: flex;
		flex-wrap: wrap;
		margin: rem(0) rem(-15);
		row-gap: 30px;
		@media (max-width: $mobile) {
			margin: rem(0) rem(0);
		}
	}

	&__column {
		flex: 0 1 33.333%;
		padding: rem(0) rem(15);
		@media (max-width: $tablet) {
			flex: 0 1 50%;
		}
		@media (max-width: $mobile) {
			flex: 0 1 100%;
			padding: rem(0) rem(0);
		}
	}

	&__item {
	}

	&__img {
		margin-bottom: rem(10);
		border-radius: 20px;
		overflow: hidden;
		img {
			max-width: 100%;
		}
		&_s {
			padding: 0px 0px 39.821% 0px;
			position: relative;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				position: absolute;
				top: 0;
				left: 0;
				z-index: -1;
			}
		}
	}

	&__label {
		margin-bottom: rem(5);
	}

	&__text {
		color: rgba(255, 255, 255, 0.8);
		font-size: rem(14);
		line-height: 120%;
	}
	&__link {
		color: #1286fc;
		text-decoration: underline;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: none;
			}
		}
		&:active {
			color: #0d63b9;
		}
	}
}

.samples {
	margin-bottom: rem(40);
	@media (max-width: $tablet) {
		margin-bottom: rem(30);
	}
	&__container {
	}

	&__body {
	}

	&__title {
		margin-bottom: rem(24);
	}

	&__audio {
	}

	&__row {
		display: flex;
		flex-wrap: wrap;
		gap: 30px;
		margin-bottom: rem(40);
		@media (max-width: $tablet) {
			gap: 0;
			row-gap: 20px;
		}
	}

	&__column {
		flex: 0 1 calc(50% - 15px);
		@media (max-width: $tablet) {
			flex: 0 1 100%;
		}
	}
	&__item {
	}
	.audio-card {
		padding: rem(24);
		border-radius: 20px;
		overflow: hidden;
		background:
			linear-gradient(90deg, rgba(0, 0, 0, 0.9) 53.12%, rgba(0, 0, 0, 0) 72.92%),
			url("../img/3.samples/1.jpg") top 0 right 30% / cover no-repeat;
		&_2 {
			background:
				linear-gradient(90deg, rgba(0, 0, 0, 0.9) 53.12%, rgba(0, 0, 0, 0) 72.92%),
				url("../img/3.samples/2.jpg") top 0 right 30% / cover no-repeat;
		}
		&_3 {
			background:
				linear-gradient(90deg, rgba(0, 0, 0, 0.9) 53.12%, rgba(0, 0, 0, 0) 72.92%),
				url("../img/3.samples/3.jpg") top 0 right 30% / cover no-repeat;
		}
		&_4 {
			background:
				linear-gradient(90deg, rgba(0, 0, 0, 0.9) 53.12%, rgba(0, 0, 0, 0) 72.92%),
				url("../img/3.samples/4.jpg") top 0 right 30% / cover no-repeat;
		}
		&__subtitle {
			margin-bottom: rem(16);
		}

		&__track {
			display: flex;
			align-items: center;
			max-width: rem(260);
			border-radius: 24px;
			background: rgba(255, 255, 255, 0.12);
			padding: rem(8) rem(16) rem(8) rem(8);
			&:not(:last-child) {
				margin-bottom: rem(16);
			}
			@media (max-width: $tablet) {
				max-width: rem(460);
			}
			@media (max-width: $mobile) {
				max-width: rem(260);
			}
			@media (max-width: $mobileSmall) {
				padding: rem(8);
				max-width: rem(240);
			}
			@media (max-width: em(360)) {
				max-width: rem(200);
			}
		}
		&__img {
			width: 40px;
			height: 40px;
			margin-right: rem(10);
			cursor: pointer;
			img {
				max-width: 100%;
			}
		}

		&__wave {
			flex: 1 1 auto;
		}
		@media (max-width: $tablet) {
			&_3 {
				background:
					linear-gradient(90deg, rgba(0, 0, 0, 0.9) 53.12%, rgba(0, 0, 0, 0) 72.92%),
					url("../img/3.samples/3.jpg") top 25% right 30% / cover no-repeat;
			}
			&_4 {
				background:
					linear-gradient(90deg, rgba(0, 0, 0, 0.9) 53.12%, rgba(0, 0, 0, 0) 72.92%),
					url("../img/3.samples/4.jpg") top 25% right 30% / cover no-repeat;
			}
		}
		@media (max-width: $mobile) {
			&_3 {
				background:
					linear-gradient(90deg, rgba(0, 0, 0, 0.9) 53.12%, rgba(0, 0, 0, 0) 72.92%),
					url("../img/3.samples/3.jpg") top 20% right 30% / cover no-repeat;
			}
			&_4 {
				background:
					linear-gradient(90deg, rgba(0, 0, 0, 0.9) 53.12%, rgba(0, 0, 0, 0) 72.92%),
					url("../img/3.samples/4.jpg") top 20% right 30% / cover no-repeat;
			}
		}
		@media (max-width: $mobileSmall) {
			padding: rem(10);
			background:
				linear-gradient(90deg, rgba(0, 0, 0, 0.9) 53.12%, rgba(0, 0, 0, 0) 72.92%),
				url("../img/3.samples/1.jpg") top 0 right 18% / cover no-repeat;
			&_2 {
				background:
					linear-gradient(90deg, rgba(0, 0, 0, 0.9) 53.12%, rgba(0, 0, 0, 0) 72.92%),
					url("../img/3.samples/2.jpg") top 0 right 18% / cover no-repeat;
			}
			&_3 {
				background:
					linear-gradient(90deg, rgba(0, 0, 0, 0.9) 53.12%, rgba(0, 0, 0, 0) 72.92%),
					url("../img/3.samples/3.jpg") top 0 right 18% / cover no-repeat;
			}
			&_4 {
				background:
					linear-gradient(90deg, rgba(0, 0, 0, 0.9) 53.12%, rgba(0, 0, 0, 0) 72.92%),
					url("../img/3.samples/4.jpg") top 0 right 18% / cover no-repeat;
			}
		}
	}
	&__content {
		display: flex;
		@media (max-width: $tablet) {
			flex-direction: column;
		}
	}

	&__futures {
		margin: rem(0) rem(30) rem(0) rem(0);
		@media (max-width: $tablet) {
			margin: rem(0) rem(0) rem(24) rem(0);
		}
	}
	.futures {
		border-radius: 20px;
		background-color: #101d23;
		max-width: rem(600);
		padding: rem(24);
		&__title {
			margin-bottom: rem(10);
		}

		&__text {
			display: flex;
			flex-wrap: wrap;
			row-gap: 16px;
			column-gap: 10px;
		}

		&__item {
			// max-width: rem(284);
			flex: 0 1 calc(56% - 5px);
			padding-left: 14px;
			position: relative;
			color: rgba(255, 255, 255, 0.8);
			font-size: rem(14);
			font-weight: 300;
			line-height: 140%;
			p {
				font-size: rem(16);
				font-weight: 600;
				margin-bottom: rem(5);
			}
			&::before {
				content: "";
				position: absolute;
				width: 8px;
				height: 8px;
				top: 6px;
				left: 0;
				border-radius: 50%;
				background-color: #0b96d9;
			}
			&_r {
				flex: 0 1 calc(44% - 5px);
			}
			@media (max-width: $tablet) {
				padding-right: rem(20);
				&_r {
					padding-right: rem(0);
				}
			}
			@media (max-width: $mobile) {
				padding-right: rem(0);
				flex: 1 1 100%;
			}
		}
		@media (max-width: $tablet) {
			max-width: 100%;
		}
		@media (max-width: $mobile) {
			padding: rem(16);
		}
	}
	&__offer {
	}
	.offer {
		border-radius: 20px;
		background-color: #0a0d13;
		padding: rem(24);
		&__title {
			margin-bottom: rem(10);
		}
		&__list {
			margin-bottom: rem(20);
		}
		&__item {
			font-size: rem(16);
			font-weight: 300;
			line-height: 140%;
			position: relative;
			padding-left: 14px;
			&::before {
				content: "";
				position: absolute;
				width: 8px;
				height: 8px;
				top: 6px;
				left: 0;
				border-radius: 50%;
				background-color: #0b96d9;
			}
			&:not(:last-child) {
				margin-bottom: rem(5);
			}
		}
		&__btn {
			.btn-2__link {
				background:
					linear-gradient(#0a0d13, #0a0d13) padding-box,
					linear-gradient(60deg, #0958fa, #0ef0a8) border-box;
				min-height: 64px;
				min-width: 274px;
				@media (max-width: $mobileSmall) {
					min-width: 200px;
				}
			}
			@media (max-width: $mobileSmall) {
				justify-content: center;
			}
		}
		@media (max-width: $mobile) {
			padding: rem(16);
		}
	}
}

.pricing {
	margin-bottom: rem(100);
	@media (max-width: $mobile) {
		margin-bottom: rem(40);
	}
	&__body {
		max-width: rem(800);
		margin: 0px auto;
		// min-height: 540px;
		border-radius: 20px;
		background: rgba(255, 255, 255, 0.05);
		padding: rem(24);
		position: relative;
		@media (max-width: $mobile) {
			padding: rem(14);
		}
		@media (max-width: $mobileSmall) {
			padding: rem(20) rem(10);
		}
		@media (max-width: em(390)) {
			&::after {
				content: "scroll me";
				position: absolute;
				width: 70px;
				height: 12px;
				bottom: 93px;
				left: 45%;
				transform: translate(-50%, 0px);
				opacity: 0.5;
				animation: jump-right 3.5s ease 0s infinite;
				font-size: rem(12);
				font-style: italic;
				background: url("../img/0.icons/reshot-icon-button-arrow-right-W9BZ38CUD2.svg") top 0.5px right 0 no-repeat;
			}
			@keyframes jump-right {
				0% {
					left: 45%;
				}
				50% {
					left: 70%;
				}
				100% {
					left: 45%;
				}
			}
		}
	}

	&__content {
		margin-bottom: rem(24);
		@media (max-width: em(390)) {
			overflow: auto;
			padding-bottom: rem(10);
		}
	}
	&__cover {
		@media (min-width: em(390)) {
			display: none;
		}
		@media (max-width: em(390)) {
			position: absolute;
			top: 20px;
			left: 9px;
			background: #1c2029;
			max-width: 100px;
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: repeat(5, minmax(50px, 1fr));
			gap: 5px;
			padding-right: rem(10);
			.grid__item_title {
				@media (max-width: em(390)) {
					opacity: 1 !important;
				}
			}
			.grid__item_voice {
				@media (max-width: em(390)) {
					opacity: 1 !important;
				}
			}
		}
	}
	.grid {
		display: grid;
		grid-template-columns: 1.7fr 1fr 1fr 1fr 1fr;
		grid-template-rows: repeat(5, minmax(50px, 1fr));
		gap: 16px;

		&__item {
			border-radius: 10px;
			font-size: rem(14);
			font-weight: 700;
			line-height: 120%;
			padding: rem(8) rem(12);
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			p {
				font-style: italic;
				font-weight: 400;
			}
			&_title {
				text-align: center;
				font-family: "Russo One", sans-serif;
				font-size: rem(32);
				font-weight: 500;
				line-height: 120%;
				@media (max-width: em(390)) {
					opacity: 0;
				}
			}

			&_normal {
				border-radius: 10px;
				background: rgba(0, 0, 0, 0.4);
			}
			&_voice {
				display: flex;
				align-items: start;
				@media (max-width: em(390)) {
					opacity: 0;
				}
			}

			&_price {
				background: #000;
				p {
					color: rgba(255, 255, 255, 0.5);
					font-size: rem(12);
					font-style: normal;
					font-weight: 700;
					line-height: 120%;
					text-decoration: line-through;
				}
			}

			&_empty {
				border-radius: 10px;
				background: rgba(0, 0, 0, 0.3);
			}
			@media (max-width: $mobile) {
				font-size: rem(12);
				padding: rem(4) rem(8);
				&_title {
					font-size: rem(22);
				}
			}
			@media (max-width: em(410)) {
				&_empty {
					padding: rem(4);
				}
				&_price {
					padding: rem(4);
				}
			}
			@media (max-width: em(390)) {
				&_empty {
					padding: rem(4) rem(8);
				}
				&_price {
					padding: rem(4) rem(8);
				}
			}
		}
		@media (max-width: $mobile) {
			gap: 8px;
		}
		@media (max-width: $mobileSmall) {
			gap: 5px;
		}
	}
	&__btn {
		text-align: center;
		@media (max-width: em(320)) {
			.btn__link {
				min-width: 230px;
			}
		}
	}
}

.reviews {
	margin-bottom: rem(100);
	@media (max-width: $mobile) {
		margin-bottom: rem(40);
	}
	&__container {
	}

	&__body {
	}

	&__title {
		margin-bottom: rem(24);
	}

	&__row {
		display: flex;
		column-gap: 30px;
		@media (max-width: $pc) {
			flex-wrap: wrap;
			column-gap: 60px;
			row-gap: 30px;
			justify-content: center;
		}
		@media (max-width: $mobileSmall) {
			column-gap: 0px;
			row-gap: 0px;
		}
	}

	&__column {
		flex: 0 1 33.333%;
		display: flex;
		&_1 {
			@media (max-width: $pc) {
				order: 1;
			}
			@media (max-width: $mobileSmall) {
				margin-bottom: rem(20);
			}
		}
		&_2 {
			border-radius: 30px;
			background: linear-gradient(51deg, #fa09d1 13.86%, #faab09 93.66%);
			padding: rem(24);
			@media (max-width: $pc) {
				order: 3;
			}
			@media (max-width: $mobileSmall) {
				padding: rem(16);
				border-radius: 20px;
			}
		}
		&_3 {
			@media (max-width: $pc) {
				order: 2;
			}
			@media (max-width: $mobileSmall) {
				margin-bottom: rem(24);
			}
		}
		@media (max-width: $pc) {
			flex: 0 1 calc(50% - 30px);
		}
		@media (max-width: $mobileSmall) {
			flex: 0 1 100%;
		}
	}

	&__item {
		&_center {
			max-width: rem(206);
			margin: 0px auto;
			@media (max-width: $mobileSmall) {
				max-width: none;
				width: 100%;
			}
		}
	}

	&__list {
	}

	&__list-item {
		border-radius: 20px;
		background: #fff;
		position: relative;
		padding: rem(14) rem(40) rem(14) rem(14);
		min-height: 62px;
		&:not(:last-child) {
			margin-bottom: rem(20);
		}
		&::after {
			content: "";
			position: absolute;
			width: 44px;
			height: 44px;
		}
		&_1 {
			transform: rotate(-1deg);
			&::after {
				top: 0;
				right: -3%;
				background: url("../img/4.review/1.png") 0 0 / cover no-repeat;
			}
			@media (max-width: $mobileSmall) {
				padding: rem(14) rem(80) rem(14) rem(40);
				&::after {
					top: 50%;
					transform: translate(0px, -50%);
					right: 5%;
					background: url("../img/4.review/1.png") 0 0 / cover no-repeat;
				}
			}
		}

		&_2 {
			transform: rotate(1deg);
			&::after {
				top: 0;
				right: -3%;
				background: url("../img/4.review/2.png") 0 0 / cover no-repeat;
			}
			@media (max-width: $mobileSmall) {
				padding: rem(14) rem(40) rem(14) rem(80);

				transform: rotate(1deg);
				&::after {
					top: 50%;
					transform: translate(0px, -50%);
					right: 85%;
				}
			}
			@media (max-width: em(370)) {
				&::after {
					content: "";
					right: 79%;
				}
			}
		}

		&_3 {
			&::after {
				top: 0;
				right: -3%;
				background: url("../img/4.review/3.png") 0 0 / cover no-repeat;
			}
			@media (max-width: $mobileSmall) {
				padding: rem(14) rem(80) rem(14) rem(40);
				&::after {
					content: "";
					top: 50%;
					transform: translate(0px, -50%);
					right: 5%;
				}
			}
		}

		&_4 {
			transform: rotate(-1deg);
			&::after {
				top: 40%;
				right: -3%;
				background: url("../img/4.review/4.png") 0 0 / cover no-repeat;
			}
			@media (max-width: $mobileSmall) {
				padding: rem(14) rem(40) rem(14) rem(80);

				transform: rotate(-1deg);
				&::after {
					top: 50%;
					transform: translate(0px, -50%);
					right: 85%;
				}
			}
			@media (max-width: em(370)) {
				&::after {
					content: "";
					right: 79%;
				}
			}
		}

		&_5 {
			padding: rem(14) rem(14) rem(14) rem(40);
			transform: rotate(1deg);
			&::after {
				top: 5%;
				right: 90%;
				background: url("../img/4.review/5.png") 0 0 / cover no-repeat;
			}
			@media (max-width: $pc) {
				&::after {
					right: 93%;
				}
			}
			@media (max-width: $mobile) {
				&::after {
					right: 90%;
				}
			}
			@media (max-width: $mobileSmall) {
				transform: rotate(1deg);
				padding: rem(14) rem(80) rem(14) rem(40);

				&::after {
					top: 50%;
					transform: translate(0px, -50%);
					right: 5%;
				}
			}
		}

		&_6 {
			padding: rem(14) rem(14) rem(14) rem(40);
			transform: rotate(-1deg);
			&::after {
				top: 5%;
				right: 90%;
				background: url("../img/4.review/6.png") 0 0 / cover no-repeat;
			}
			@media (max-width: $pc) {
				&::after {
					right: 93%;
				}
			}
			@media (max-width: $mobile) {
				&::after {
					right: 90%;
				}
			}
			@media (max-width: $mobileSmall) {
				padding: rem(14) rem(40) rem(14) rem(80);
				&::after {
					content: "";
					top: 50%;
					transform: translate(0px, -50%);
					right: 85%;
				}
			}
			@media (max-width: em(370)) {
				&::after {
					content: "";
					right: 79%;
				}
			}
		}

		&_7 {
			padding: rem(14) rem(14) rem(14) rem(40);
			transform: rotate(1deg);
			&::after {
				top: 30%;
				right: 90%;
				background: url("../img/4.review/7.png") 0 0 / cover no-repeat;
			}
			@media (max-width: $pc) {
				&::after {
					right: 93%;
				}
			}
			@media (max-width: $mobile) {
				&::after {
					right: 90%;
				}
			}
			@media (max-width: $mobileSmall) {
				&::after {
					top: 50%;
					transform: translate(0px, -50%);
					right: 5%;
				}
				padding: rem(14) rem(80) rem(14) rem(40);
			}
		}

		&_8 {
			padding: rem(14) rem(14) rem(14) rem(40);
			transform: rotate(-1deg);
			&::after {
				top: 0;
				right: 90%;
				background: url("../img/4.review/8.png") 0 0 / cover no-repeat;
			}
			@media (max-width: $pc) {
				&::after {
					right: 93%;
				}
			}
			@media (max-width: $mobile) {
				&::after {
					right: 90%;
				}
			}
			@media (max-width: $mobileSmall) {
				padding: rem(14) rem(40) rem(14) rem(80);
				&::after {
					content: "";
					top: 50%;
					transform: translate(0px, -50%);
					right: 85%;
				}
			}
			@media (max-width: em(370)) {
				&::after {
					content: "";
					right: 79%;
				}
			}
		}
		@media (max-width: $mobileSmall) {
			min-height: 70px;
		}
	}

	&__label {
		display: flex;
		margin-bottom: rem(24);
		align-items: center;
		@media (max-width: $mobileSmall) {
			margin-bottom: rem(0);
			justify-content: center;
		}
	}

	&__logo {
		margin-right: rem(12);
		display: inline-block;
		path {
			transition: all 0.3s ease 0s;
		}
		&:active {
			path {
				fill: #000000;
				transition: all 0s ease 0s;
			}
		}
		@media (any-hover: hover) {
			&:hover {
				path {
					fill: #000000;
				}
			}
		}
	}

	&__subtitle {
		font-size: rem(18);
		font-weight: 500;
		line-height: 110%;
		@media (max-width: $mobile) {
			font-size: rem(14);
		}
		@media (max-width: $mobileSmall) {
			align-self: start;
		}
	}

	&__code {
		border-radius: 15px;
		background-color: #fff;
		padding: rem(12);
		margin-bottom: rem(16);
		img {
			max-width: 100%;
		}
		@media (max-width: $mobileSmall) {
			display: none;
		}
	}

	&__link {
		font-size: rem(18);
		font-weight: 500;
		line-height: 110%;
		text-align: center;
		transition: all 0.3s ease 0s;
		a {
			color: #fff;
			transition: all 0.3s ease 0s;
			text-decoration-line: underline;
			&:active {
				color: #000;
				transition: all 0s ease 0s;
			}
			@media (any-hover: hover) {
				&:hover {
					color: #000;
					text-decoration-line: none;
				}
			}
		}

		@media (max-width: $mobileSmall) {
			font-size: rem(14);
			margin-top: rem(-10);
		}
		@media (max-width: em(345)) {
			margin-top: rem(0);
		}
	}
}

.faq {
	margin-bottom: rem(80);
	@media (max-width: $mobile) {
		margin-bottom: rem(40);
	}
	&__title {
		text-transform: uppercase;
		margin-bottom: rem(24);
	}

	&__spollers {
		@media (min-width: $tablet) {
			max-width: rem(900);
		}
	}
	.spoller {
		&._init {
			// .spoller__btn::before,
			// .spoller__btn::after {
			// 	// content: "";
			// 	// position: absolute;
			// 	// width: 20px;
			// 	// height: 3px;
			// 	// right: 10px;
			// 	// top: 0px;
			// 	// transform: translate(0px,-50%);
			// 	// background-color: #fff;
			// 	// transition: transform 0.3s ease 0s;
			// }
			.spoller__btn::after {
				transform: rotate(-90deg);
			}
			.spoller__btn._active::after {
				transform: rotate(0deg);
			}
			@media (max-width: $tablet) {
				.spoller__btn::before,
				.spoller__btn::after {
					content: "";
					position: absolute;
					width: 20px;
					height: 3px;
					right: 10px;
					top: 10px;
					background-color: #fff;
					transition: transform 0.3s ease 0s;
				}
			}
			@media (max-width: $mobile) {
				.spoller__btn::before,
				.spoller__btn::after {
					content: "";
					position: absolute;
					width: 20px;
					height: 3px;
					right: 5px;
					top: 10px;
					background-color: #fff;
					transition: transform 0.3s ease 0s;
				}
			}
		}

		&__item {
			&:not(:last-child) {
				margin-bottom: rem(32);
			}
		}

		&__btn {
			position: relative;
			width: 100%;
			text-align: left;
			background-color: transparent;
			color: #fff;
			margin-bottom: rem(8);
			@media (max-width: $mobile) {
				padding-right: rem(35);
			}
		}

		&__text {
			color: rgba(255, 255, 255, 0.8);
			line-height: 120%;
			@media (max-width: $tablet) {
				padding-right: rem(35);
			}
		}

		&__inner-link {
			color: rgba(255, 255, 255, 0.8);
			font-weight: 700;
			text-decoration-line: underline;
			@media (any-hover: hover) {
				&:hover {
					text-decoration: none;
				}
			}
			&:active {
				color: #ffffff;
			}
		}
		&__link {
			color: #1286fc;
			font-weight: 700;
			text-decoration-line: underline;
			@media (any-hover: hover) {
				&:hover {
					text-decoration: none;
				}
			}
			&:active {
				color: #0d63b9;
			}
		}

		&__paragraph {
			margin-bottom: rem(8);
		}

		&__list {
			&_first {
				margin-bottom: rem(8);
			}
		}

		&__list-item {
			position: relative;
			padding-left: rem(16);
			&::before {
				content: "";
				position: absolute;
				width: 8px;
				height: 8px;
				border-radius: 50%;
				top: 50%;
				left: 0;
				transform: translate(0px, -50%);
				background-color: #0b96d9;
			}
			&:not(:last-child) {
				margin-bottom: rem(8);
			}
			&_red {
				&::before {
					content: "";
					position: absolute;
					width: 8px;
					height: 8px;
					border-radius: 50%;
					top: 50%;
					transform: translate(0px, -50%);
					left: 0;
					background-color: #df0e3a;
				}
			}
		}
	}
}
